[submodule "external/Xamarin.Auth.Samples.NugetReferences"]
	path = external/Xamarin.Auth.Samples.NugetReferences
	url = https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences.git
[submodule "external/Xamarin.Auth"]
	path = external/Xamarin.Auth
	url = https://github.com/xamarin/Xamarin.Auth.git
